<h1>List of ratings</h1>
<ul>
 <% @ratings.each do |rating| %>
   <li> <%= rating %> <%= link_to 'delete', rating_path(rating.id), method: :delete %> </li>
 <% end %>
</ul>

<%= link_to 'New Rating', new_rating_path %>